<meta charset="UTF-8">
<head>
    <title>Geoburgern</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
    <body>
        <h1>Post burger</h1>
        <form action="answers/joon" method = "POST" autocomplete="off">
            <p><a href="/answers/joon">Joon🍔:</a> <input type = "text" name = "burger_field_joon" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <br>
        <form action="answers/klito" method = "POST" autocomplete="off">
            <p><a href="/answers/klito">Klito🍔:</a> <input type = "text" name = "burger_field_klito" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <br>
        <form action="answers/pete" method = "POST" autocomplete="off">
            <p><a href="/answers/pete">Pete🍔:</a> <input type = "text" name = "burger_field_pete" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <br>
        <a href="https://lingojam.com/TexttoOneLine">OneLine converter</a>
        <br>
        <a href="/answers">Average Scores</a>
    </body>
</html>