<meta charset="UTF-8">
<html>
    <body>
        <h1>Post burger</h1>
        <form action="answers/joon" method = "POST">
            <p>Joon🍔: <input type = "text" name = "burger_field_joon" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <br>
        <form action="answers/klito" method = "POST">
            <p>Klito🍔: <input type = "text" name = "burger_field_klito" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <br>
        <form action="answers/pete" method = "POST">
            <p>Pete🍔: <input type = "text" name = "burger_field_pete" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <br>
    </body>
</html>